body {
    background-color: lightblue;
}

#calculusBlock {
    margin-left: 25%;
    margin-top: 15%;
}

#calculusBlock .functionBlock {
    margin: 20px;
}

#calculusBlock .errorBlock {
    margin: 20px;
}

#calculusBlock .exampleLabel {
    color: lightslategray;
}

#calculusBlock .calculateButton {
    position: absolute;
    margin-top: 60px;
    margin-left: 30px;
    padding: 15px;
    background-color: lightgreen;
    cursor: pointer;
}

